.m_div{
    margin: 15px 0 0 0;
    padding: 10px;
    border: 2px solid #aaa396;
    display: inline-block;
    -webkit-border-radius: 15px;
    -webkit-box-shadow: 2px 2px 10px #ccc;
    background: -webkit-gradient(linear, 0 20%, 0 100%, from(#f3f3f3), to(#d8d6d3));
}
.w_div{
    margin: 15px 0 0 0;
    padding: 10px;
    border: 2px solid #aaa396;
    -webkit-border-radius: 15px;
    -webkit-box-shadow: 2px 2px 10px #ccc;
    /*background: -webkit-gradient(linear, 0 20%, 0 100%, from(#f3f3f3), to(#d8d6d3));*/
}